In [8]:
import pandas as pd
import glob
import json

# SOPAS

## INTEGRANTES
- Alexandra Mendoza Ramirez
- Eduardo de la Flor Merino


## DICCIONARIO DE VARIABLES

- label: nombre del plato -- ['label']
- healthLabels: etiquetas de la comida -- ['healthLabels']
- ingredientLines: ingredientes de la sopa -- ['ingredientLines']
- calories: calorias de la sopa -- ['calories']
- totalTime: tiempo de cocci칩n -- ['totalTime']
- Energy: energia de la sopa --  ['totalNutrients']['ENERC_KCAL']['quantity']
- Fat: grasa de la sopa --  ['totalNutrients']['FAT']['quantity']
- Saturated: grasas saturadas --  ['totalNutrients']['FASAT']['quantity']
- Carbs: carbohidratos --  ['totalNutrients']['CHOCDF']['quantity']
- Protein: proteina --  ['totalNutrients']['PROCNT']['quantity']

In [9]:
lista_recetas = glob.glob("delaflor_mendoza/sopas/*.txt")

df_recetas = pd.DataFrame(columns=['label','healthLabels','ingredientLines','calories','totalTime','Energy','Fat',
                           'Saturated','Carbs','Proteina'])
i = 0
for receta in lista_recetas:
    with open(receta) as json_file:  
        data = json.load(json_file)
        lista = []
        lista.append(data['label'])
        lista.append(data['healthLabels'])
        lista.append(data['ingredientLines'])
        lista.append(data['calories'])
        lista.append(data['totalTime'])
        lista.append(data['totalNutrients']['ENERC_KCAL']['quantity'])
        lista.append(data['totalNutrients']['FAT']['quantity'])
        lista.append(data['totalNutrients']['FASAT']['quantity'])
        lista.append(data['totalNutrients']['CHOCDF']['quantity'])
        lista.append(data['totalNutrients']['PROCNT']['quantity'])
        df_recetas.loc[i] = lista
        i=i+1
df_recetas.to_csv('recetas.csv',index=False)

In [3]:
## dataframe
df_recetas.head()

,label,healthLabels,ingredientLines,calories,totalTime,Energy,Fat,Saturated,Carbs,Proteina
0,Spaghetti Soup,"[Peanut-Free, Tree-Nut-Free, Alcohol-Free]","[2 Tbsp vegetable oil, 2 skinless, boneless ch...",1470.826975,45.0,1470.826975,48.437946,6.499026,160.487317,92.914104
1,Healthy Detox Soup recipes,"[Vegan, Vegetarian, Peanut-Free, Tree-Nut-Free...","[2 medium leeks, cut in half, cleaned well, an...",2164.878233,65.0,2164.878233,13.180915,2.254671,421.679438,121.624008
2,Grandma chicken soup (Canja),"[Sugar-Conscious, Peanut-Free, Tree-Nut-Free, ...","[2 1/2 cups of water, 1 chicken breast, 1/2 cu...",829.290000,48.0,829.290000,36.910500,7.578570,77.356500,42.723750
3,Harlequin Soup,"[Peanut-Free, Tree-Nut-Free, Alcohol-Free]","[1 recipe very green broccoli soup, 1 recipe r...",2239.342884,3.0,2239.342884,145.461028,70.399800,193.890597,69.706887
4,Cheats Chicken And Bean Soup,"[Sugar-Conscious, Peanut-Free, Tree-Nut-Free, ...","[1 400g tin x cream of chicken soup, Large pin...",485.203719,0.0,485.203719,13.080811,3.638645,70.947410,23.763611

# PELICULAS

## INTEGRANTES
- Randy
- Marcial


## DICCIONARIO DE VARIABLES

- Title: titulo de la pelicula -- ['Title']
- Year: a침o estreno de la pelicula -- ['Year']
- Rated: quien puede ver la pelicula -- ['Rated']
- Released: fecha de estreno -- ['Released']
- Genre: genero de la pelicula-- ['Genre']
- Director: director de la pelicula --  ['Director']
- Plot: historia --  ['Plot']
- imdbRating: calificacion en p치gina imdb --  ['imdbRating']
- Metascore: calificacion en p치gina metacritic --  ['Metascore']
- Country: pais de origen --  ['Country']

In [4]:
lista_peliculas = glob.glob("randy_marcial/Proyecto/peliculas/*.txt")

df_peliculas = pd.DataFrame(columns=['Title','Year','Rated','Released','Genre','Director','Plot',
                           'imdbRating','Metascore','Country'])
i = 0
for pelicula in lista_peliculas:
    with open(pelicula) as json_file:  
        data = json.load(json_file)
        lista = []
        lista.append(data['Title'])
        lista.append(data['Year'])
        lista.append(data['Rated'])
        lista.append(data['Released'])
        lista.append(data['Genre'])
        lista.append(data['Director'])
        lista.append(data['Plot'])
        lista.append(data['imdbRating'])
        lista.append(data['Metascore'])
        lista.append(data['Country'])
        df_peliculas.loc[i] = lista
        i=i+1
df_peliculas.to_csv('peliculas.csv',index=False)

In [5]:
## dataframe
df_peliculas.head()

,Title,Year,Rated,Released,Genre,Director,Plot,imdbRating,Metascore,Country
0,Coco,2017,PG,22 Nov 2017,"Animation, Adventure, Comedy","Lee Unkrich, Adrian Molina(co-director)","Aspiring musician Miguel, confronted with his ...",8.5,81,USA
1,Our Blushing Brides,1930,PASSED,19 Jul 1930,Drama,Harry Beaumont,"Three department store girls--Connie, Franky, ...",5.6,N/A,USA
2,Mother India,1957,N/A,14 Feb 1957,"Drama, Musical, Family",Mehboob Khan,"In this melodrama, a poverty-stricken woman ra...",8.1,53,India
3,Dev D,2009,N/A,06 Feb 2009,"Comedy, Drama, Romance",Anurag Kashyap,After breaking up with his childhood sweethear...,8.1,N/A,India
4,X-Men: Dark Phoenix,2019,N/A,14 Feb 2019,"Action, Adventure, Sci-Fi",Simon Kinberg,Jean Grey begins to develop incredible powers ...,N/A,N/A,USA

# ANIMALES

## INTEGRANTES
- Randy Mazuelos
- Marcial Silva


## DICCIONARIO DE VARIABLES

- genus_name: -- ['genus_name']
- scientific_name: -- ['scientific_name']
- family_name: -- ['family_name']
- order_name: -- ['order_name']
- class_name: -- ['class_name']
- phylum_name: --  ['phylum_name']
- kingdom_name: --  ['kingdom_name']
- infra_name: --  ['infra_name']
- population: --  ['population']
- category: --  ['category']

In [6]:
df_animales = pd.DataFrame(columns=['genus_name','scientific_name','family_name','order_name','class_name','phylum_name',
                           'kingdom_name','infra_name','population','category'])

with open('reyna_alcantara/animales.txt') as json_file:
    data = json.load(json_file)
for i in list(range(0,1000)):
    lista = []
    lista.append(data['result'][i]['genus_name'])
    lista.append(data['result'][i]['scientific_name'])
    lista.append(data['result'][i]['family_name'])
    lista.append(data['result'][i]['order_name'])
    lista.append(data['result'][i]['class_name'])
    lista.append(data['result'][i]['phylum_name'])
    lista.append(data['result'][i]['kingdom_name'])
    lista.append(data['result'][i]['infra_name'])
    lista.append(data['result'][i]['population'])
    lista.append(data['result'][i]['category'])
    df_animales.loc[i] = lista
df_animales.to_csv('animales.csv',index=False)

In [7]:
## dataframe
df_animales.head()

,genus_name,scientific_name,family_name,order_name,class_name,phylum_name,kingdom_name,infra_name,population,category
0,Aaadonta,Aaadonta angaurana,ENDODONTIDAE,STYLOMMATOPHORA,GASTROPODA,MOLLUSCA,ANIMALIA,None,None,CR
1,Aaadonta,Aaadonta constricta,ENDODONTIDAE,STYLOMMATOPHORA,GASTROPODA,MOLLUSCA,ANIMALIA,None,None,EN
2,Aaadonta,Aaadonta fuscozonata,ENDODONTIDAE,STYLOMMATOPHORA,GASTROPODA,MOLLUSCA,ANIMALIA,None,None,EN
3,Aaadonta,Aaadonta irregularis,ENDODONTIDAE,STYLOMMATOPHORA,GASTROPODA,MOLLUSCA,ANIMALIA,None,None,CR
4,Aaadonta,Aaadonta kinlochi,ENDODONTIDAE,STYLOMMATOPHORA,GASTROPODA,MOLLUSCA,ANIMALIA,None,None,CR